.weather-background{
  background: url("https://cdn.pixabay.com/photo/2018/05/20/22/55/thunderstorm-3417042__340.jpg");
  height: 50vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.heading{
  color:white;
  font-weight: 700;
}
.weather-result{
  margin: auto;
  width: 500px;
  height: 300px;
  background-color: aqua;
}
.weather-icon{
  margin-top: 2rem;
  width: 100px;
  height: 100px;
}
.weather-city{
  font-size: 35px;
}
.weather-temp{
  font-size:55px;
  font-weight: 700;
}
